<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">種類</th>
      <th scope="col">項目</th>
      <th scope="col">金額</th>
      <th scope="col">數量</th>
      <th scope="col">小計</th>
      <th scope="col">日期</th>
    </tr>
  </thead>

  <% @inventories.each do |i| %>
    <tr>
      <td><%= i.ingredient_type.name %></td>
      <td><%= i.ingredient.item %></td>
      <td><%= i.price %></td>
      <td><%= i.number %></td>
      <td><%= i.price * i.number %></td>
      <td><%= I18n.l i.datetime, format: :date_month_year_concise %></td>
    </tr>
  <% end %>

  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><%= @inventories.sum('price * number') %></th>
      <th scope="col"></th>
    </tr>
  </thead>  
</table>
