<%= simple_form_for @inventory do |f| %>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.collection_select :ingredient_type_id, IngredientType.all, :id, :name, {}, { class: 'custom-select mr-sm-2 ingredient_type_select' } %>
    </div>

    <div class="col-auto">
      <%= f.collection_select :ingredient_id, IngredientType.first.ingredients, :id, :item, {}, { class: 'custom-select mr-sm-2 ingredient_select' } %>
    </div>

    <div class="col-auto">
      <%= f.input :price %>
    </div>

    <div class="col-auto">
      <%= f.input :number %>
    </div>

    <div class="col-auto">
      <%= f.text_field :datetime, class: 'form-control  datepicker', placeholder: '選擇日期' %>
    </div>      

    <div class="col-auto">
      <%= f.button :submit, class: 'btn btn-secondary mb-2' %>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header bg-primary">
    <p class="text-white">資訊</p>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="card-text">年度最高單價：<%= @top_of_this_year.price %>, 進貨日期： <%= I18n.l @top_of_this_year.datetime, format: :date_month_year_concise %></p>
      <p class="card-text">近3個月最高單價：<%= @top_of_last_three_months.price %>, 進貨日期： <%= I18n.l @top_of_last_three_months.datetime, format: :date_month_year_concise %></p>
      <footer class="blockquote-footer">單筆最高花費： <%= @inventories.maximum('price * number') %></footer>
    </blockquote>
  </div>
</div>

<br/>
<%= paginate @inventories, left: 1, right: 5 %>
<div class="col-auto">
  <table class="table table-striped">

    <thead class="thead-dark">
      <tr class="row">
        <th class="col-md-2">種類</th>
        <th class="col-md-2">項目</th>
        <th class="col-md-2">金額</th>
        <th class="col-md-1">數量</th>
        <th class="col-md-2">小計</th>
        <th class="col-md-2">日期</th>
        <th class="col-md-1">操作</th>
      </tr>
    </thead>

    <% @inventories.each do |i| %>
      <tr class="row">
        <td class="col-md-2"><%= i.ingredient_type.name %></td>
        <td class="col-md-2"><%= i.ingredient.item %></td>
        <td class="col-md-2"><%= i.price %></td>
        <td class="col-md-1"><%= i.number %></td>
        <td class="col-md-2"><%= i.price * i.number %></td>
        <td class="col-md-2"><%= I18n.l i.datetime, format: :date_month_year_concise %></td>
        <td class="col-md-1">
          <%= link_to inventory_path(i), method: :delete, data: { confirm: '確定刪除？'} do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>       
      </tr>
    <% end %> 
  </table>
</div>
<script>
  $('.datepicker').pickdate({
    cancel           : 'Clear',
    closeOnCancel    : false,
    closeOnSelect    : true,
    container        : 'body',
    containerHidden  : 'body',
    firstDay         : 1,
    format           : 'yyyy-mm-d',
    formatSubmit     : 'dd/mmmm/yyyy',
    hiddenPrefix     : 'prefix_',
    hiddenSuffix     : '_suffix',
    labelMonthNext   : 'Go to the next month',
    labelMonthPrev   : 'Go to the previous month',
    labelMonthSelect : 'Choose a month from the dropdown menu',
    labelYearSelect  : 'Choose a year from the dropdown menu',
    ok               : 'Close',
    onClose          : function () {
      console.log('Datepicker closes')
    },
    onOpen           : function () {
      console.log('Datepicker opens')
    },
    selectMonths     : true,
    selectYears      : 10,
    today            : 'Today'
  });     

  $(".ingredient_type_select").on("change", function() {
    return $.ajax({
      url: "/ingredients/return_ingredients",
      type: "GET",
      dataType: "script",
      data: {
        ingredient_type_id: $('.ingredient_type_select option:selected').val()
      }
    });
  });
</script>