<%= simple_form_for :inventory, url: report_inventories_path, method: :get, remote: true do |f| %>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <%= f.collection_select :ingredient_type_id, IngredientType.all, :id, :name, { include_blank: '請選擇' }, { class: 'custom-select mr-sm-2' } %>
    </div>

    <div class="col-auto">
      <%= f.collection_select :ingredient_id, Ingredient.all, :id, :item, { include_blank: '請選擇'}, { class: 'custom-select mr-sm-2' } %>
    </div>

    <div class="col-auto">
      <%= f.button :submit, '查詢', class: 'btn btn-primary mb-2' %>
    </div>
    <div class="col-auto" id="export_btn"></div>    
  </div>
<% end %>
<br/>

<div id="report_tbl"></div>

<!--------quick report------->
<%= simple_form_for :inventory, url: quick_report_by_type_inventories_path, method: :get, remote: true, html: { id: 'quick_report_tbl' } do |f| %>
  <div class="col-auto">
    <%= f.button :submit, '按種類', class: 'btn btn-warning mb-2' %>
  </div>   
<% end %>

<%= simple_form_for :inventory, url: quick_report_by_month_inventories_path, method: :get, remote: true, html: { id: 'quick_report_tbl' } do |f| %>
  <div class="col-auto">
    <%= f.button :submit, '按月份', class: 'btn btn-info mb-2' %>
  </div>    
</div>
<% end %>

<br/>
<!--// --------------card------------- -->
<div class="row col-auto" id="card_info"></div>
<!--// --------------card------------- -->