<!DOCTYPE html>
<html>
  <head>
    <title>Sunny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'header' %>
      <br/>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <span class="nav-link" id="current_page_title"><p class="lead"><%= @current_page_title %></p></span>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
